.fmr-tag {
  display: inline-flex;
  align-items: center;
  padding: $tag-padding-y $tag-padding-x;
  border: $tag-border;
  font-size: $tag-font-size;
  .fmr-tag-close-icon {
    margin-left: 5px;
    cursor: pointer;
  }
}
.fmr-tag-default {
  @include tag-style($tag-background-color, $tag-font-color, $tag-border-color);
}

$types: (
  primary: $primary,
  success: $success,
  warning: $warning,
  danger: $danger,
);
@each $type, $color in $types {
  .fmr-tag-#{$type} {
    @include tag-style(
      mix($color, $white, 10%),
      $color,
      mix($color, $white, 60%)
    );
  }
}
